<!-- header -->
<nav class="flex justify-between items-center w-screen h-16 bg-gray-100 dark:bg-gradient-to-r dark:from-slate-800 dark:to-[#151E2D] px-8 ">
   <div [ngClass]="sidenav.mode === 'over' ? 'block md:hidden' : 'hidden'" class="cursor-pointer" (click)="toggleSidenav(sidenav)">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
   </div>

   <!-- <div *ngIf="checkColor(); then content; else other_content"></div>
   <ng-template #content>
      <img src="assets/img/ITSESBlanco.png" class="h-8" alt="PTS" />
   </ng-template>
   <ng-template #other_content>
      <img src="assets/img/netscool2.png" class="h-8" alt="PTS" />
   </ng-template> -->

   <!-- <div *ngIf="checkColor(); then content; else other_content"></div>
   <ng-template #content> -->
      <img src="assets/img/{{jwtAuth.getColor() === 'dark' ? 'ITSESBlanco' : 'netscool2'}}.png" class="h-8" alt="PTS" />
   <!-- </ng-template>
   <ng-template #other_content>
      <img src="assets/img/netscool2.png" class="h-8" alt="PTS" />
   </ng-template> -->

   <div class="flex gap-x-4">
      <mat-icon (click)="changeMode(jwtAuth.getColor())">{{jwtAuth.getColor() + '_mode'}}</mat-icon>
      <!-- <button (click)="changeModeColor()" id="theme-toggle">
         <div *ngIf="checkColor(); then iconLight; else iconDark"></div>
         <ng-template #iconLight>
            <mat-icon id="theme-toggle-dark-icon" class="scale-110">light_mode</mat-icon>
         </ng-template>
         <ng-template #iconDark>
            <mat-icon id="theme-toggle-light-icon" class="scale-110">dark_mode</mat-icon>
         </ng-template>
      </button> -->
      <img *ngIf="avatar != ''" class="w-8 h-8 rounded-full cursor-pointer scale-125" [src]="avatar" alt="Perfil" [matMenuTriggerFor]="menu" />
      <mat-icon *ngIf="avatar == ''" class="h-8 w-8 text-transparent bg-gradient-cyan bg-clip-text cursor-pointer flex shrink-0 scale-125" [matMenuTriggerFor]="menu">
         account_circle
      </mat-icon>
      <mat-menu #menu="matMenu" class="w-48 !bg-white dark:!bg-dark-blue-50 !text-slate-700 dark:!text-slate-300 !rounded-lg !shadow-xl">
         <button [routerLink]="['/perfil']" mat-menu-item class="font-medium !text-slate-700 dark:!text-slate-300">
            <mat-icon class="!text-slate-700 dark:!text-slate-300">person</mat-icon>Perfil
         </button>

         <mat-divider></mat-divider>

         <button [routerLink]="['/login']" mat-menu-item (click)="logout()" class="font-medium !text-slate-700 dark:!text-slate-300">
            <mat-icon class="!text-slate-700 dark:!text-slate-300">logout</mat-icon>Salir
         </button>
      </mat-menu>
   </div>
</nav>
