<div class="absolute right-0 -top-[4.25rem]">
   <div class="aspect-[2/1] h-12 flex shadow-xl rounded-xl overflow-hidden bg-white dark:bg-dark-blue-100">
      <button (click)="update()" class="bg-gradient-teal bg-clip-content rounded-l-xl text-white dark:text-slate-100 hover:border-3 hover:rounded-r-xl hover:bg-clip-text hover:text-transparent hover:border-[#42b8c6] h-12 w-12 duration-300">
         <mat-icon class="m-auto">
            save
         </mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" class="bg-gradient-cyan bg-clip-text text-transparent h-12 w-12">
         <mat-icon class="m-auto">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item (click)="getAll()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
         </button>
         <button mat-menu-item (click)="cambiarContrasenaDialog()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">password</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Cambiar contraseña</span>
         </button>
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
         <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
      </mat-menu>
      <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Excel</span>
         </button>

      </mat-menu>
   </div>
</div>

<div>
   <div #c class="w-full grid grid-cols-12 gap-6 overflow-hidden">
      <div
         [ngClass]="c.clientWidth <= 640 ? 'col-span-12' : c.clientWidth > 640 && c.clientWidth < 1024 ? 'col-span-6' : c.clientWidth >= 1024 ? 'col-span-4' : 'col-span-4'"
         class="rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg flex justify-start items-center gap-x-4 p-3 overflow-hidden ">
         <div *ngIf="profileImg" class="h-12 w-12 bg-gradient-fuchsia rounded-xl flex shrink-0 p-3 shadow-lg shadow-fuchsia-600/40">
            <mat-icon class="m-auto !text-white">account_circle</mat-icon>
         </div>
         <div *ngIf="!profileImg" class="h-16 w-16 shrink-0 rounded-xl relative">
            <img (error)="profileImg = true" [src]="'https://itses.edu.mx/ws-sii-v2/assets/profiles/students/' + data?.DETAIL?.rfc + '.JPG'" alt="" class="object-cover rounded-xl overflow-hidden h-16 w-16 scale-110">
            <div [matTooltip]="data?.DETAIL?.ESTADO_ALUMNO" class="rounded-full h-4 w-4 absolute -bottom-2 -right-2  cursor-pointer"
            [ngClass]="data?.DETAIL?.ESTADO_ALUMNO == 'ACTIVO' ? 'bg-gradient-lime' :
            data?.DETAIL?.ESTADO_ALUMNO == 'BAJA' ? 'bg-gradient-red' :
            data?.DETAIL?.ESTADO_ALUMNO == 'BAJA POR FALTA DE PAGO' ? 'bg-gradient-orange' :
            data?.DETAIL?.ESTADO_ALUMNO == 'EGRESADO =)' ? 'bg-gradient-celestial' :
            data?.DETAIL?.ESTADO_ALUMNO == 'TITULADO' ? 'bg-gradient-teal' :
            data?.DETAIL?.ESTADO_ALUMNO == 'BAJA TEMPORAL' ? 'bg-gradient-yellow' :
            data?.DETAIL?.ESTADO_ALUMNO == 'EGRESADO SIN TERMINAR' ? 'bg-gradient-purplelake' : ''">

            </div>
         </div>
         <div>
            <div class="text-lg font-bold">{{data?.DETAIL?.NOMBRE_COMPLETO}}</div>
            <div class="text-sm font-semibold">{{data?.DETAIL?.CARRERA}}</div>
            <div class="text-sm font-semibold">{{data?.DETAIL?.GENERACION}}</div>
         </div>
      </div>
      <div [ngClass]="c.clientWidth <= 640 ? 'col-span-12' : c.clientWidth > 640 && c.clientWidth < 1024 ? 'col-span-6' : c.clientWidth >= 1024 ? 'col-span-8' : 'col-span-8'"
         class="grid grid-cols-3 gap-6">
         <div
            [ngClass]="c.clientWidth <= 1024 ? 'col-span-3' : c.clientWidth >= 1024 ? 'col-span-1' : 'col-span-1'"
            class="rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg p-3 flex justify-between items-center gap-x-2">
            <div>
               <div class="text-sm font-semibold">Materias acreditadas</div>
               <div class="text-lg font-bold">{{data?.ACREDITADAS}}
                  <!-- <span class="text-lime-500 text-xs mx-1">{{'aa'}}</span> -->
               </div>
            </div>
            <div class="h-12 w-12 bg-gradient-fuchsia rounded-xl flex shrink-0 shadow-lg shadow-fuchsia-600/40">
               <mat-icon class="m-auto !text-white">attach_money</mat-icon>
            </div>
         </div>

         <div
            [ngClass]="c.clientWidth <= 1024 ? 'col-span-3' : c.clientWidth >= 1024 ? 'col-span-1' : 'col-span-1'"
            class="rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg p-3 flex justify-between items-center gap-x-2">
            <div>
               <div class="text-sm font-semibold">Materias cursadas</div>
               <div class="text-lg font-bold">{{data?.CURSADAS}} </div>
            </div>
            <div class="h-12 w-12 bg-gradient-fuchsia rounded-xl flex shrink-0 shadow-lg shadow-fuchsia-600/40">
               <mat-icon class="m-auto !text-white">person_remove</mat-icon>
            </div>
         </div>

         <div
            [ngClass]="c.clientWidth <= 1024 ? 'col-span-3' : c.clientWidth >= 1024 ? 'col-span-1' : 'col-span-1'"
            class="rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg p-3 flex justify-between items-center gap-x-2">
            <div>
               <div class="text-sm font-semibold">Beca</div>
               <div class="text-lg font-bold">{{data?.DETAIL?.beca}} </div>
            </div>
            <div class="h-12 w-12 bg-gradient-fuchsia rounded-xl flex shrink-0 shadow-lg shadow-fuchsia-600/40">
               <mat-icon class="m-auto !text-white">insights</mat-icon>
            </div>
         </div>
      </div>
      <div id="form"
         class="col-span-12 rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg p-6 flex flex-col justify-between items-center gap-x-4 h-auto transition-all">
         <mat-tab-group dynamicHeight vertical class="w-full">
            <mat-tab>
               <ng-template mat-tab-label>
                  <mat-icon class="flex sm:!hidden">school</mat-icon>
                  <span class="hidden sm:!flex">EGRESADO</span>
                </ng-template>
               <form #f [formGroup]="formulario" [ngClass]="f.clientWidth < 640 ? 'grid-cols-3' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'grid-cols-6' : f.clientWidth >= 1024 ? 'grid-cols-12' : 'grid-cols-12'" class="grid justify-items-stretch gap-x-4">
                  <mat-checkbox formControlName="kardex" class="col-span-3 h-12">Kardex</mat-checkbox>
                  <mat-checkbox formControlName="certificado" class="col-span-3 h-12">Certificado</mat-checkbox>
                  <mat-checkbox formControlName="titulacion" class="col-span-3 h-12">Título</mat-checkbox>
                  <mat-checkbox formControlName="foto2" class="col-span-3 h-12">Fotos</mat-checkbox>
                  <search-select class="w-full col-span-3" [select]="sel['tbl_modalidad_titulacion_id']" [group]="grup['tbl_modalidad_titulacion_id']" [formCN]="'tbl_modalidad_titulacion_id'" [label]="'Modalidad de titulación'" (response)="recibiRespuesta($event, 'tbl_sangre_id')"></search-select>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Correo personal</mat-label>
                     <input matInput type="text" formControlName="correo_personal">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Facebook</mat-label>
                     <input matInput type="text" formControlName="facebook">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>LinkedIn</mat-label>
                     <input matInput type="text" formControlName="linkedin">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Empresa</mat-label>
                     <input matInput type="text" formControlName="empresa">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Puesto</mat-label>
                     <input matInput type="text" formControlName="puesto">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Salario</mat-label>
                     <input matInput type="text" formControlName="salario">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
               </form>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>
                  <mat-icon class="flex sm:!hidden">info</mat-icon>
                  <span class="hidden sm:!flex">INFORMACIÓN</span>
                </ng-template>
               <form #f2 [formGroup]="formulario" [ngClass]="f2.clientWidth < 640 ? 'grid-cols-3' : f2.clientWidth < 1024 && f2.clientWidth >= 640 ? 'grid-cols-6' : f2.clientWidth >= 1024 ? 'grid-cols-12' : 'grid-cols-12'" class="grid justify-items-stretch gap-x-4">

                  <search-select class="w-full col-span-3" [rq]="true" [select]="sel['tbl_programa_academico_id']" [group]="grup['tbl_programa_academico_id']" [formCN]="'tbl_programa_academico_id'" [label]="'Programa Académico'" (response)="recibiRespuesta($event, 'tbl_programa_academico_id')"></search-select>
                  <search-select class="w-full col-span-3" [rq]="true" [select]="sel['tbl_generacion_id']" [group]="grup['tbl_generacion_id']" [formCN]="'tbl_generacion_id'" [label]="'Generación'" (response)="recibiRespuesta($event, 'tbl_generacion_id')"></search-select>
                  <!-- <search-select class="w-full col-span-3" [select]="sel['tbl_grupo_id']" [group]="grup['tbl_grupo_id']" [formCN]="'tbl_grupo_id'" [label]="'Grupo'" (response)="recibiRespuesta($event, 'tbl_grupo_id')"></search-select> -->
                  <search-select class="w-full col-span-3" [rq]="true" [select]="sel['tbl_estado_alumno_id']" [group]="grup['tbl_estado_alumno_id']" [formCN]="'tbl_estado_alumno_id'" [label]="'Estado'" (response)="recibiRespuesta($event, 'tbl_estado_alumno_id')"></search-select>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Inscripción</mat-label>
                     <input matInput type="text" formControlName="inscripcion">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Beca</mat-label>
                     <input matInput type="text" formControlName="beca">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Matrícula</mat-label>
                     <input matInput type="text" formControlName="rfc">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Correo</mat-label>
                     <input matInput type="text" formControlName="email">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
               </form>

            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>
                  <mat-icon class="flex sm:!hidden">manage_accounts</mat-icon>
                  <span class="hidden sm:!flex">GENERAL</span>
                </ng-template>
               <form [formGroup]="formulario" #f3 [ngClass]="f3.clientWidth < 640 ? 'grid-cols-3' : f3.clientWidth < 1024 && f3.clientWidth >= 640 ? 'grid-cols-6' : f3.clientWidth >= 1024 ? 'grid-cols-12' : 'grid-cols-12'" class="grid justify-items-stretch gap-x-4">
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Nombre(s)</mat-label>
                     <input matInput type="text" formControlName="nombre">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Apellido paterno</mat-label>
                     <input matInput type="text" formControlName="apellido_paterno">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Apellido materno</mat-label>
                     <input matInput type="text" formControlName="apellido_materno">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Fecha de nacimiento</mat-label>
                     <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker class="rounded-xl overflow-hidden"></mat-datepicker>
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Teléfono fijo</mat-label>
                     <input matInput type="text" formControlName="telefono">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Celular</mat-label>
                     <input matInput type="text" formControlName="celular">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>

                  <search-select class="w-full col-span-3" [select]="sel['tbl_sexo_id']" [group]="grup['tbl_sexo_id']" [formCN]="'tbl_sexo_id'" [label]="'Sexo'" (response)="recibiRespuesta($event, 'tbl_sexo_id')"></search-select>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Código postal</mat-label>
                     <input matInput type="text" formControlName="codigo_postal">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [ngClass]="f2.clientWidth < 640 ? 'col-span-3' : f2.clientWidth < 1024 && f2.clientWidth >= 640 ? 'col-span-6' : f2.clientWidth >= 1024 ? 'col-span-12' : 'col-span-12'">
                     <mat-label>Dirección</mat-label>
                     <input matInput type="text" formControlName="direccion">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <search-select class="w-full col-span-3" [select]="sel['tbl_pais_id']" [group]="grup['tbl_pais_id']" [formCN]="'tbl_pais_id'" [label]="'País'" (response)="recibiRespuesta($event, 'tbl_pais_id')"></search-select>
                  <search-select class="w-full col-span-3" [select]="sel['tbl_estado_id']" [group]="grup['tbl_estado_id']" [formCN]="'tbl_estado_id'" [label]="'Estado'" (response)="recibiRespuesta($event, 'tbl_estado_id', 'tbl_municipio_id')"></search-select>

                  <search-select class="w-full col-span-3" [select]="sel['tbl_municipio_id']" [group]="grup['tbl_municipio_id']" [formCN]="'tbl_municipio_id'" [label]="'Municipio'" (response)="recibiRespuesta($event, 'tbl_municipio_id')"></search-select>

                  <search-select class="w-full col-span-3" [select]="sel['tbl_sangre_id']" [group]="grup['tbl_sangre_id']" [formCN]="'tbl_sangre_id'" [label]="'Grupo sanguíneo'" (response)="recibiRespuesta($event, 'tbl_sangre_id')"></search-select>

                  <mat-form-field appearance="outline" [ngClass]="f2.clientWidth < 640 ? 'col-span-3' : f2.clientWidth < 1024 && f2.clientWidth >= 640 ? 'col-span-6' : f2.clientWidth >= 1024 ? 'col-span-12' : 'col-span-12'">
                     <mat-label>Indicaciones médicas</mat-label>
                     <textarea matInput type="text" formControlName="indicaciones_medicas"></textarea>
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
               </form>

            </mat-tab>
            <mat-tab [id]="24">
               <ng-template mat-tab-label>
                  <mat-icon class="flex sm:!hidden">folder_open</mat-icon>
                  <span class="hidden sm:!flex">DOCUMENTOS</span>
                </ng-template>
               <form #f4 [formGroup]="formulario" [ngClass]="f4.clientWidth < 640 ? 'grid-cols-3' : f4.clientWidth < 1024 && f4.clientWidth >= 640 ? 'grid-cols-6' : f4.clientWidth >= 1024 ? 'grid-cols-12' : 'grid-cols-12'" class="grid">
                  <mat-checkbox formControlName="documento_acta_nacimiento" class="col-span-3">Acta de nacimiento</mat-checkbox>
                  <mat-checkbox formControlName="documento_certificado" class="col-span-3">Certificado</mat-checkbox>
                  <mat-checkbox formControlName="documento_curp" class="col-span-3">CURP</mat-checkbox>
               </form>
            </mat-tab>
         </mat-tab-group>
      </div>
      <div class="col-span-12 shadow-lg">
         <div class="bg-white dark:bg-dark-blue-100 rounded-xl p-4">
         <mat-tab-group dynamicHeight>
            <mat-tab label="RETÍCULA">
                  <app-reticula [alumno]="alumno" [PROGRAMA_ACADEMICO_ID]="_paid" [modulo]="'egresados'" class="flex w-full"></app-reticula>
            </mat-tab>
            <mat-tab label="HISTORIAL ACADÉMICO">
                  <app-kardex [alumnoId]="_id" [PROGRAMA_ACADEMICO_ID]="_paid"></app-kardex>
            </mat-tab>
            <mat-tab label="HISTORIAL DE PAGOS">
                  <app-pagos [alumnoId]="_id" [PROGRAMA_ACADEMICO_ID]="_paid"></app-pagos>
               </mat-tab>
            </mat-tab-group>
         </div>
      </div>
   </div>
</div>
