<div *ngIf="!ready">
   <app-waiter></app-waiter>
</div>
<div class="p-4">
   <div class="p-8 rounded-xl bg-white flex flex-col gap-y-4">
      <div class="flex w-full justify-between">
         <div class="text-slate-500 text-xl font-semibold">
            {{seccion}}
         </div>
         <div class="aspect-[2/1] h-12 w-24 flex shadow-xl">
            <button class="bg-orange-400 text-white h-12 w-12 flex rounded-l-xl">
               <mat-icon class="m-auto">add</mat-icon>
            </button>
            <button class="bg-white text-slate-500 h-12 w-12 flex rounded-r-xl">
               <mat-icon class="m-auto">expand_more</mat-icon>
            </button>
         </div>
      </div>
      <mat-form-field class="w-full md:w-1/2">
         <mat-label>Buscar</mat-label>
         <input matInput type="text" autocomplete="off" (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <mat-table #table [dataSource]="dataSource" matSort>
         <ng-container *ngFor="let column of columns" [matColumnDef]="column?.columnDef">
            <mat-header-cell class="!text-slate-700" mat-sort-header *matHeaderCellDef>{{ column?.header }}</mat-header-cell>
            <mat-cell  class="!text-slate-500 text-[80%]" *matCellDef="let row">{{ column?.cell(row) }}</mat-cell>
         </ng-container>
         <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;">{{row}}</mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
   </div>
</div>

