<nav
  class="fixed top-0 left-0 right-0 z-50 bg-white px-2 sm:px-2 py-3 rounded-br-xl rounded-bl-xl dark:bg-white"
>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <div>
      <button class="text-gray-500" mat-icon-button mat-dialog-close>
        <mat-icon> close </mat-icon>
      </button>
      <label class="pl-4 font-bold">Sabana de calificaciones</label>
    </div>

    <!-- <a href="https://netscool.com.mx" class="flex items-left">
    <img src="assets/img/logo.png" class="mr-3 h-10 sm:h-9" alt="PTS" />
  </a> -->

    <div class="flex items-center sm:order-2">
      
      <button
      class="flex text-sm text-white font-bold  disabled:bg-gray-300 bg-itses-blue p-2 rounded-tl-lg rounded-bl-lg sm:mr-0"
    
      [disabled]="!editable"
      (click)="openDialog()"
    >
      Crear actividad
    </button>
      <button
        class="relative z-10 block rounded-md bg-white p-2 focus:outline-none"
        mat-button
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon> keyboard_arrow_down </mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openTipoTaskDialog()" [disabled]="!editable">
          Crear tipo de actividad
        </button>
        <button
          mat-menu-item
          (click)="exporter.exportTable('xlsx', { fileName: 'parcial' })"
        >
          Exportar
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
<mat-dialog-content>
  

  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="false"
    ><p style="color: white">Cargando...</p></ngx-spinner
  >

  <div class="pt-20 overflow-x-auto">
    <label
      >Parcial: {{ parcial }}, del {{ fecha_inicial }} al
      {{ fecha_final }}</label
    >

    <table
      mat-table
      [dataSource]="dataSource2"
      matTableExporter
      #exporter="matTableExporter"
    >
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        
        <th mat-header-cell *matHeaderCellDef >
          <label *ngIf="!col.editable" >{{ col.label }} </label>
          <label *ngIf="col.editable"  class="cursor-pointer" (click)="openTaskDialogDetail(col.key)">{{ col.label }} </label>
        </th>
       
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <!-- <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button (click)="element.isEdit = !element.isEdit">
                Edit
              </button>
            </div> -->
            <!-- <span *ngSwitchCase="'date'">
                    {{ element[col.key] | date: 'mediumDate' }}
                  </span> -->
            <span *ngSwitchDefault>
              <a *ngIf="!element[col.key].editable"
              [ngClass]="element[col.key].observaciones ? 'font-bold text-blue-600' : ''"
              [matTooltip]=element[col.key].observaciones >{{
                  element[col.key].dato
                    ? element[col.key].dato
                    : "S/C"
                }}
             
              </a>

              <a
                *ngIf="element[col.key].editable"
                class="cursor-pointer"
                [matTooltip]=element[col.key].observaciones 
                [ngClass]="element[col.key].observaciones ? 'font-bold text-blue-600' : ''"
                (click)="openTaskScoreDialog(element[col.key].id)"
                >{{
                  element[col.key].dato
                    ? element[col.key].dato
                    :"S/C"
                }}
              </a>
            </span>
          </div>
          <!-- <div [ngSwitch]="col.type" *ngIf="element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button (click)="element.isEdit = !element.isEdit">
                Done
              </button>
            </div>

            <mat-form-field class="form-input" *ngSwitchCase="'number'">
              <input
                type="number"
                matInput
                (ngModelChange)="element[col.key] = $event"
                [ngModel]="element[col.key]"
              />
            </mat-form-field>
            <mat-form-field class="form-input" *ngSwitchDefault>
              <input
                [type]="col.type"
                matInput
                [(ngModel)]="element[col.key]"
              />
            </mat-form-field>
          </div> -->
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- <button mat-button mat-dialog-close>Close</button> -->
</mat-dialog-actions>
