<div class="flex justify-between">
   <img class="h-10 w-10 rounded-xl object-cover" [src]="'https://itses.edu.mx/ws-sii-v2/assets/profiles/students/' + materia.rfc + '.JPG'" alt="">
      <div mat-dialog-title class="dark:text-white text-center [-webkit-text-stroke:_1px_#00000000] dark:[-webkit-text-stroke:_1px_#00000000] bg-gradient-celestial bg-clip-text text-transparent mb-4">
         ASIGNAR MATERIA
      </div>

   <div mat-dialog-close class="h-10 w-10 flex cursor-pointer">
      <mat-icon class="m-auto">close</mat-icon>
   </div>
</div>
<div class="dark:text-white text-center uppercase text-xs">
   {{materia.nombreAlumno}}
</div>
<div class="dark:text-white text-center pb-4 uppercase text-xs">
   {{materia.nombre}}
</div>


   <form [formGroup]="formulario" class="grid grid-cols-4 gap-x-6 m-auto">
      <mat-form-field class="w-full" appearance="outline">
         <mat-error>Ingresa un valor válido</mat-error>
         <mat-label>Calificación</mat-label>
         <input matInput autocomplete="off" formControlName="calificacion">
         <mat-error>Ingresa una calificación válida.</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
         <mat-error>Ingresa un valor válido</mat-error>
         <mat-label>Fecha del periodo</mat-label>
         <input matInput [matDatepicker]="picker" formControlName="fecha">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker class="rounded-xl overflow-hidden"></mat-datepicker>
      </mat-form-field>
      <div class="w-full flex items-center pb-5">
         <mat-slide-toggle class="w-full dark:text-[#cbd5e1]" formControlName="validada">Convalidada</mat-slide-toggle>
      </div>
      <div class="w-full flex items-center pb-5">
         <mat-slide-toggle class="w-full dark:text-[#cbd5e1]" formControlName="extra">Extra</mat-slide-toggle>
      </div>
      <mat-form-field class="w-full col-span-4" appearance="outline">
         <mat-error>Ingresa un valor válido</mat-error>
         <mat-label>Observaciones</mat-label>
         <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
      <mat-form-field class="w-full {{materia.optativa == 1 ? 'col-span-1': 'col-span-1'}}" appearance="outline" *ngIf="materia.optativa == 1">
         <mat-error>Ingresa un valor válido</mat-error>
         <mat-label>Calificación cualitativa</mat-label>
         <mat-select formControlName="estatus">
            <mat-option *ngFor="let item of items" [value]="item.name">{{ item.name }}</mat-option>
         </mat-select>
      </mat-form-field>
      <search-select class="w-full {{materia.optativa == 1 ? 'col-span-2': 'col-span-2'}}" [select]="sel['MAESTRO']" [group]="grup['MAESTRO']" [formCN]="true" [label]="'Maestro'" (response)="recibiRespuesta($event, 'tbl_maestro_id')"></search-select>
      <search-select class="w-full {{materia.optativa == 1 ? 'col-span-1': 'col-span-2'}}" [select]="sel['GRUPO']" [group]="grup['GRUPO']" [formCN]="true" [label]="'Grupo'" (response)="recibiRespuesta($event, 'tbl_grupo_id')"></search-select>
      <button (click)="enviar()" class="t-btn-primary mx-auto col-span-4">
         Guardar
      </button>
   </form>

