
      <section class=" block h-auto relative py-0">
       
        <div class="wow fadeInUp container mx-auto px-2">
            <div class="flex flex-wrap justify-center text-center mb-0">
                <div class="w-full lg:w-6/12 px-4">
                  <h2 class="text-2xl font-semibold text-white uppercase">Eventos</h2>
                 
                </div>
              </div>
    
         
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div *ngIf="!pageSlice" class="text-white text-center text-2xl py-8">
                Espera los próximos eventos que tiene el ecosistema para ti
              </div>
            </div>
          </div>
    
          <div class="flex flex-wrap w-full">
            <div class="lg:pt-12 pt-6 container px-4 text-center h-full mx-auto">
              <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 h-full">
                <div
                  *ngFor="let element of pageSlice"
                  class=" relative w-full   bg-cover bg-center group rounded-lg overflow-hidden transition duration-300 ease-in-out bg-white shadow-lg cursor-pointer"
                >
                  <div class=" rounded-lg max-w-sm" (click)="openDialog(element.id)">
                    <div class="bg-blue-800 overflow-hidden">
                      <img
                      style="aspect-ratio: 1 / 1"
                      class="rounded-t-lg bg-cover bg-center w-full hover:scale-105 duration-300 transform"
                      [src]="element.img"
                      alt=""
                    />
                    </div>
    
                    <div class="p-4 bg-white" style="aspect-ratio: 16 / 10;">
                      <h5 class="text-gray-900 font-bold text-2xl leading-6 tracking-tight mb-2 max-h-24 overflow-scroll">
                        {{ element.name }}
                      </h5>
                      <p class="font-normal text-gray-700 mb-3 ">
                        {{ element.fecha }}
                      </p>
                      <p class="font-normal text-gray-700 mb-3 ">
                       {{ element.hora }}
                      </p>
                        <div class="flex justify-center mb-2">
                          <a class="border bg-idea-flesh-pink border-idea-flesh-pink rounded-full text-white hover:text-idea-flesh-pink px-4 py-2 mr-4 focus:outline-none outline-none hover:border-idea-flesh-pink hover:bg-transparent">
                            Conoce más
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
