<mat-form-field class="w-full md:w-1/2">
   <mat-error>Ingresa un valor válido</mat-error>
   <mat-label class="text-slate-500 dark:!text-slate-100">Buscar</mat-label>
   <input matInput type="text" autocomplete="off" (keyup)="applyFilter($event)" #input
      class="text-slate-500 dark:!text-slate-100">
</mat-form-field>
<table mat-table #table [dataSource]="dataSource" matSort class="bg-white dark:!bg-dark-blue-50 !w-full">
   <ng-container *ngFor="let column of columns" [matColumnDef]="column?.columnDef">
      <th mat-header-cell [hidden]="column?.header.match(matchStrings)"
         class="text-slate-700 dark:!text-slate-300 uppercase {{column?.header.match(matchStrings) ? '!hidden' : ''}}"
         mat-sort-header *matHeaderCellDef>{{ column?.header.slice(2,column?.header.length)}}</th>
      <td mat-cell [hidden]="column?.header.match(matchStrings)"
         class="text-slate-500 dark:!text-slate-100 text-[80%] {{column?.header.match(matchStrings) ? '!hidden' : ''}}"
         *matCellDef="let row">
         {{ column?.cell(row) != 'null' ? column?.cell(row) : '' }}
      </td>
   </ng-container>
   <ng-container mat-row matColumnDef="groupHeader">
      <th mat-cell colspan="9999" class=" bg-slate-100 dark:bg-[#1e293b] dark:text-white" *matCellDef="let groupBy">
         {{groupBy.groupedBy}}
      </th>
   </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
   <tr mat-row routerLink="'detail/', {{row.id}}"
      class="hover:!bg-slate-100 dark:hover:!bg-slate-100/10 cursor-pointer duration-300"
      *matRowDef="let row; columns: displayedColumns;">{{row}}</tr>
   <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" class=""> </tr>
   <tr class="mat-row block text-center justify-center !w-full" *matNoDataRow>
      <td class="mat-cell block !py-4 text-center !w-full dark:text-slate-300">No hay registros que coincidan con
         "{{input.value}}"
      </td>
   </tr>
</table>
<mat-paginator class="bg-white dark:!bg-dark-blue-50 text-slate-700 dark:!text-slate-300"
   [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
