<div class="w-64 h-full bg-gray-100 dark:bg-transparent p-3 flex flex-col gap-y-2 rounded-r-xl">
   <a class="rounded-xl p-2 group flex gap-x-2 items-center transition-colors text-slate-700 dark:text-slate-300 hover:bg-slate-200 dark:hover:bg-dark-blue-100 duration-300 group"
      [routerLink]="['/dashboard']"
      routerLinkActive="bg-white shadow-lg dark:bg-dark-blue-50 hover:bg-white shadow-lg hover:dark:bg-dark-blue-50">
      <div class="bg-gradient-orange rounded-xl aspect-square w-10 h-10 flex text-white bg-clip-content border-2 border-transparent group-hover:bg-clip-text group-hover:text-transparent group-hover:border-orange-400 duration-300">
         <mat-icon class="m-auto">pie_chart</mat-icon>
      </div>
      <div class="ease-soft font-semibold text-size-sm  duration-300">Dashboard</div>
   </a>
<!-- (click)="sendBreadcrumbs('Dashboard')" -->
   <a class="rounded-xl p-2 group flex gap-x-2 items-center transition-colors text-slate-700 dark:text-slate-300 hover:bg-slate-200 dark:hover:bg-dark-blue-100 duration-300 group"
      [routerLink]="['/m/alumnos']" [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="bg-white shadow-lg dark:bg-dark-blue-50 hover:bg-white shadow-lg hover:dark:bg-dark-blue-50">
      <div class="bg-gradient-purplelake rounded-xl aspect-square w-10 h-10 flex text-white bg-clip-content border-2 border-transparent group-hover:bg-clip-text group-hover:text-transparent group-hover:border-rose-500 duration-300">
         <mat-icon class="m-auto">how_to_reg</mat-icon>
      </div>
      <div class="ease-soft font-semibold text-size-sm  duration-300">Alumnos</div>
   </a>
<!-- (click)="sendBreadcrumbs('Alumnos')" -->
   <mat-accordion class="flex flex-col gap-y-1 h-full">
      <mat-expansion-panel #panel mouseEnterLeaveDebounce (debounceMouseEnter)="panel.open()"
         (debounceMouseLeave)="panel.close()" *ngFor="let item of sideMenu"
         class="!bg-transparent mat-elevation-z0 hover:!bg-transparent">
         <mat-expansion-panel-header
            class="!text-slate-700 dark:!text-slate-300 dark:hover:!bg-dark-blue-100 hover:!bg-slate-100/20 !rounded-xl !duration-300">
            <mat-panel-description>
               <a
                  class="rounded-xl p-2 group flex gap-x-2 items-center transition-colors text-slate-700 dark:text-slate-300 group-hover:text-slate-500 duration-300">
                  <div
                     class="bg-white dark:bg-dark-blue-50 rounded-xl shadow-lg aspect-square w-10 h-10 flex text-slate-500 dark:text-slate-300">
                     <mat-icon class="m-auto">{{item.icon}}</mat-icon>
                  </div>
                  <div class="ease-soft font-semibold text-size-sm  duration-300">{{item.label}}</div>
               </a>
            </mat-panel-description>
         </mat-expansion-panel-header>
         <!-- <div *ngFor="let content of item.menu" class="rounded-xl p-2 flex gap-x-2" [routerLink]="content.link" routerLinkActive="bg-white dark:bg-dark-blue-50">
            <mat-icon routerLinkActive="!text-orange-400">{{content.icon}}</mat-icon>
            <span>{{content.item}}</span>
         </div> -->

         <!-- (click)="sendBreadcrumbs(content.item)" -->
         <div *ngFor="let content of item.menu" [routerLink]="content.link"
            class="flex items-center justify-start gap-x-2 ml-2 my-2 rounded-xl text-[95%] px-2 py-1 text-slate-700 dark:text-slate-300 hover:bg-slate-200 dark:hover:bg-dark-blue-100 duration-300 cursor-pointer"
            routerLinkActive="bg-white dark:bg-dark-blue-50 !bg-white dark:!bg-dark-blue-50 text-slate-400">
            <mat-icon routerLinkActive="!text-orange-400 animate-[spin_16s_linear_infinite]">{{content.icon}}</mat-icon>
            <div>{{content.item}}</div>
         </div>
         <!-- <button *ngFor="let content of item.menu" class="dark:text-slate-300 hover:text-slate-900 text-slate-700 dark:hover:text-white" routerLinkActive="bg-white dark:bg-dark-blue-50 text-slate-400" #perfil="routerLinkActive" [ngClass]="
               perfil.isActive
               ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 text-slate-400 shadow-soft-xl'
               : ' hover:text-slate-900 dark:hover:text-white dark:text-slate-300 text-slate-500'
            " [routerLink]="[content.link]" mat-button class="menu-button pt-12  w-full ">
                     <mat-icon [ngClass]="perfil.isActive
                  ? ' dark:text-orange-400  text-orange-400 animate-[spin_16s_linear_infinite]'
                  : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
               " class="">{{content.icon}}</mat-icon>
                     <span [ngClass]="perfil.isActive
               ? ' dark:text-slate-400 text-slate-500'
               : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
            "> {{content.item}}</span>
         </button> -->
      </mat-expansion-panel>
   </mat-accordion>
</div>

<!-- <div
   class="items-center block w-[16rem] max-h-full overflow-auto h-full grow basis-full bg-gray-100 dark:bg-transparent py-6">
   <ul class="flex flex-col pl-0 mb-0">
      <li class="mt-0.5 w-full">
         <a class="py-2.7  text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg  px-2 font-semibold text-slate-700 transition-colors "
            routerLinkActive #dashboard="routerLinkActive" [ngClass]="
          dashboard.isActive
            ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 shadow-soft-xl'
            : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
        " [routerLink]="['/dashboard']">
            <div
               class="bg-gradient-orange text-white shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
               <mat-icon>pie_chart</mat-icon>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Dashboard</span>
         </a>
      </li>
      <li class="mt-0.5 w-full">
         <a class="py-2.7  text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg  px-2 font-semibold text-slate-700 transition-colors "
            routerLinkActive #alumnos="routerLinkActive" [ngClass]="
      alumnos.isActive
        ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 shadow-soft-xl'
        : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
      " [routerLink]="['/alumnos']">
            <div
               class="bg-gradient-orange text-white shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
               <mat-icon>how_to_reg</mat-icon>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Alumnos</span>
         </a>
      </li>

      <li class="mt-0.5 w-full">
         <mat-accordion>
            <mat-expansion-panel #panel mouseEnterLeaveDebounce (debounceMouseEnter)="panel.open()"
               (debounceMouseLeave)="panel.close()" *ngFor="let item of sideMenu"
               class="bg-transparent mat-elevation-z0 hover:bg-transparent">
               <mat-expansion-panel-header class="">
                  <mat-panel-description class="text-slate-500 dark:text-slate-300">
                     <a
                        class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-2 transition-colors">
                        <div
                           class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5 dark:bg-dark-blue-50 dark:text-slate-300 dark:shadow-dark-blue-50">
                           <mat-icon>{{item.icon}}</mat-icon>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">{{item.label}}</span>
                     </a>
                  </mat-panel-description>
               </mat-expansion-panel-header>

               <button *ngFor="let content of item.menu" routerLinkActive #perfil="routerLinkActive" [ngClass]="
           perfil.isActive
           ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 text-slate-400 shadow-soft-xl'
           : ' hover:text-slate-900 dark:hover:text-white dark:text-slate-300 text-slate-500'
         " [routerLink]="[content.link]" mat-button class="menu-button pt-12  w-full ">
                  <mat-icon [ngClass]="perfil.isActive
             ? ' dark:text-orange-400  text-orange-400 animate-[spin_16s_linear_infinite]'
             : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
           " class="">{{content.icon}}</mat-icon>
                  <span [ngClass]="perfil.isActive
           ? ' dark:text-slate-400 text-slate-500'
           : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
         "> {{content.item}}</span>
               </button>
            </mat-expansion-panel>
         </mat-accordion>






      </li>
 -->


<!-- <li class="w-full mt-4">
    <h6
      class="pl-6 ml-2 font-bold leading-tight uppercase text-size-xs opacity-60"
    >
      Account pages
    </h6>
  </li> -->

<!--
   </ul>
</div> -->
