<div
class="items-center block w-auto max-h-screen overflow-auto h-sidenav grow basis-full pt-4"
>
<ul class="flex flex-col pl-0 mb-0">
  <li class="mt-0.5 w-full">
    <a
      class="py-2.7  text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg  px-2 font-semibold text-slate-700 transition-colors "
      routerLinkActive
        #dashboard="routerLinkActive"
        [ngClass]="
          dashboard.isActive
            ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 shadow-soft-xl'
            : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
        "
        [routerLink]="['/dashboard']"
    >
      <div
        class="bg-gradient-orange text-white shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5"
      >
        <mat-icon>pie_chart</mat-icon>
      </div>
      <span
        class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft"
        >Dashboard</span
      >
    </a>
  </li>
  <li class="mt-0.5 w-full">
    <a
    class="py-2.7  text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg  px-2 font-semibold text-slate-700 transition-colors "
    routerLinkActive
      #alumnos="routerLinkActive"
      [ngClass]="
      alumnos.isActive
        ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 shadow-soft-xl'
        : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
      "
      [routerLink]="['/alumnos']"
    >
    <div
    class="bg-gradient-orange text-white shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5"
  >
        <mat-icon>how_to_reg</mat-icon>
      </div>
      <span
        class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft"
        >Alumnos</span
      >
    </a>
  </li>

  <li class="mt-0.5 w-full">
    <mat-accordion>
      <mat-expansion-panel #panel mouseEnterLeaveDebounce
      (debounceMouseEnter)="panel.open()"
      (debounceMouseLeave)="panel.close()"
      *ngFor="let item of sideMenu" class="bg-transparent mat-elevation-z0 hover:bg-transparent">
         <mat-expansion-panel-header class="">
            <mat-panel-description
            class="text-slate-500 dark:text-slate-300"
          >
            <a
              class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-2 transition-colors"
             
            >
              <div
                class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5 dark:bg-dark-blue-50 dark:text-slate-300 dark:shadow-dark-blue-50"
              >
                <mat-icon>{{item.icon}}</mat-icon>
              </div>
              <span
                class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft"
                >{{item.label}}</span
              >
            </a>
          </mat-panel-description>
         </mat-expansion-panel-header>

         <button *ngFor="let content of item.menu"
         routerLinkActive
         #perfil="routerLinkActive"
         [ngClass]="
           perfil.isActive
           ? 'bg-white dark:bg-dark-blue-50 dark:text-slate-400 text-slate-400 shadow-soft-xl'
           : ' hover:text-slate-900 dark:hover:text-white dark:text-slate-300 text-slate-500'
         "
         [routerLink]="[content.link]"
           mat-button
           class="menu-button pt-12  w-full "
         
         >
           <mat-icon
             [ngClass]="perfil.isActive 
             ? ' dark:text-orange-400  text-orange-400 animate-spin animate-[spin_16s_linear_infinite]'
             : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
           "
             class=""
             >{{content.icon}}</mat-icon
           >
           <span
           [ngClass]="perfil.isActive 
           ? ' dark:text-slate-400 text-slate-500'
           : ' hover:text-slate-500 dark:hover:text-slate-200 dark:text-slate-300'
         "> {{content.item}}</span>
         </button>
      </mat-expansion-panel>
   </mat-accordion>

 

  

  
  </li>



  <!-- <li class="w-full mt-4">
    <h6
      class="pl-6 ml-2 font-bold leading-tight uppercase text-size-xs opacity-60"
    >
      Account pages
    </h6>
  </li> -->


</ul>
</div>