<div class="w-full flex justify-between items-center p-6">
   <div class="font-bold capitalize dark:text-white">
      <a routerLink="/dashboard" class="text-black dark:text-white hover:text-orange-400 duration-300">Dashboard</a>
      <span [ngClass]="modulo && this.router.url != '/dashboard' ? 'w-0' : 'w-auto'" class="cursor-default transition-[width] duration-300">&nbsp; / &nbsp;</span>
      <a [routerLink]="objeto ? modulo?.link : undefined"
         [ngClass]="objeto ? 'text-black dark:text-white hover:text-orange-400 duration-300' : 'cursor-default'"
         *ngIf="modulo">{{modulo?.item}}</a>
      <span [ngClass]="objeto && this.router.url.split('/')[3] != undefined ? 'w-0' : 'w-auto'" class="cursor-default transition-[width] duration-300">&nbsp; / &nbsp;</span>
      <a *ngIf="objeto && this.router.url.split('/')[3] != undefined" class="cursor-default">{{objeto}}</a>
      <!-- {{'c'+modulo.item+'c'}}{{'b'+objeto+'b'}}{{'a'+title+'a'}} -->
   </div>
   <!--   
   <input (keyup)="applyFilter($event)" #input type="text" class="w-48 text-size-sm ease-soft border-2 border-transparent rounded-xl bg-white dark:bg-dark-blue-50 transition-all focus:border-orange-300 text-gray-700 placeholder:text-gray-500 dark:border-dark-blue-100 dark:focus:border-orange-300 duration-300" placeholder="Buscar...">
   -->
</div>