<!-- <div class="w-full flex justify-between items-center">
   <div class="font-bold capitalize dark:text-slate-100 flex gap-x-2">
      <div *ngIf="ready === false" class="rounded-full animate-loader h-5 w-24 my-1"></div>
      <a routerLink="/dashboard" [ngClass]="masterSection ? ' hover:!text-orange-400 cursor-pointer duration-300' : 'cursor-default'" class="text-slate-900 dark:text-slate-100">Dashboard</a>
      <span *ngIf="masterSection && ready === true" class="cursor-default">/</span>
      <div *ngIf="ready === false" class="rounded-full animate-loader h-5 w-24 my-1"></div>
      <a [routerLink]="modulo.link" [ngClass]="detail ? 'hover:!text-orange-400 cursor-pointer duration-300' : 'cursor-default'" class="text-slate-900 dark:text-slate-100"> {{masterSection}}</a>
      <span *ngIf="detail && ready === true" class="cursor-default">/</span>
      <a *ngIf="(detail)" class="capitalize cursor-default">{{detail}}</a>
      <span *ngIf="detail && ready === true" class="cursor-default">/</span>
      <a *ngIf="(detail)" class="capitalize cursor-default">{{detail}}</a>
      <span *ngIf="detail && ready === true" class="cursor-default">/</span>
      <a *ngIf="(detail)" class="capitalize cursor-default">{{detail}}</a>
   </div>
</div> -->
<div class="w-full flex justify-between items-center">
   <div class="font-bold capitalize dark:text-slate-100 flex gap-x-2">
      
      <a routerLink="/dashboard" [ngClass]="bread ? ' hover:!text-nets-yellow cursor-pointer duration-300' : 'cursor-default'" class="text-slate-900 dark:text-slate-100">Dashboard</a>
      <span *ngIf="bread != null && ready === true" class="cursor-default">/</span>

      <div *ngFor="let b of bread; let i = index" class="flex gap-x-2">
         <a [routerLink]="b?.link" *ngIf="b?.item" [ngClass]="b?.link ? 'hover:!text-nets-yellow cursor-pointer duration-300' : 'cursor-default'" class="text-slate-900 dark:text-slate-100"> {{b?.item}}</a>
         <span *ngIf="bread[i + 1]?.item != null && ready === true" class="cursor-default">/</span>
      </div>
      
   </div>
</div>
