<div class="flex justify-between">
   <img class="h-10 w-10 rounded-xl object-cover" [src]="'https://itses.edu.mx/ws-sii-v2/assets/profiles/students/' + materia.rfc + '.JPG'" alt="">
      <div mat-dialog-title class="dark:text-white text-center [-webkit-text-stroke:_1px_#00000000] dark:[-webkit-text-stroke:_1px_#00000000] bg-gradient-celestial bg-clip-text text-transparent mb-4">
         ASIGNAR CALIFICACIÓN
      </div>

   <div mat-dialog-close class="h-10 w-10 flex cursor-pointer">
      <mat-icon class="m-auto">close</mat-icon>
   </div>
</div>
<div class="dark:text-white text-center uppercase text-xs">
   {{materia.nombreAlumno}}
</div>
<div class="dark:text-white text-center pb-4 uppercase text-xs">
   {{materia.nombre}}
</div>
<mat-tab-group dynamicHeight>
   <mat-tab label="ASIGNAR CALIFICACIÓN FINAL">
      <form [formGroup]="formulario" class="grid grid-cols-1 gap-x-6 pt-3">
         <mat-form-field appearance="outline">
            <mat-label>Calificación final</mat-label>
            <input matInput autocomplete="off" formControlName="calificacion">
            <mat-error>Ingresa una calificación válida.</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput autocomplete="off" formControlName="observaciones"></textarea>
            <mat-error>Ingresa una observación válida.</mat-error>
         </mat-form-field>
         <mat-form-field *ngIf="materia.optativa == 1" appearance="outline">
            <mat-label>Calificación cualitativa</mat-label>
            <mat-select formControlName="estatus">
               <mat-option *ngFor="let item of items" [value]="item.name">{{ item.name }}</mat-option>
            </mat-select>
         </mat-form-field>
         <button [disabled]="formulario.invalid" class="t-btn-primary mx-auto">
            Guardar
         </button>
      </form>
   </mat-tab>
   <mat-tab label="ASIGNAR CALIFICACIÓN PARCIAL">
      <form [formGroup]="formularioParc" class="grid grid-cols-1 gap-x-6 pt-3">
         <mat-form-field appearance="outline">
            <mat-label>Calificación parcial</mat-label>
            <input matInput autocomplete="off" formControlName="calificacion">
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput autocomplete="off" formControlName="observaciones"></textarea>
         </mat-form-field>
         <button [disabled]="formularioParc.invalid" class="t-btn-primary mx-auto">
            Guardar
         </button>
      </form>
   </mat-tab>
</mat-tab-group>

