<h1 mat-dialog-title>Asignar calificación</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="taskForm">
    <div class="flex-auto px-2 lg:px-10 py-10 pt-0">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-2">
          <div class="relative w-full mb-0">
            <mat-form-field appearance="fill">
              <mat-label>Calificación</mat-label>
              <input
                matInput
                formControlName="calificacion"
                required
                pattern="^[0-9]+([.])?([0-9]+)?$"
              />
            </mat-form-field>
          </div>
        </div>
        
        <div class="w-full lg:w-12/12 px-2">
            <div class="relative w-full mb-0">
              <mat-form-field appearance="fill">
                  <mat-label>Fecha de entrega</mat-label>
                  <input matInput [matDatepicker]="picker1"  formControlName="fecha_entrega"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
          </div>

        <div class="w-full lg:w-12/12 px-2">
          <div class="relative w-full mb-0">
            <mat-form-field appearance="fill">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observaciones"></textarea>
            </mat-form-field>
          </div>
        </div>
       
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cerrarDialogo()">Cerrar</button>
  <button mat-button (click)="confirmado()" cdkFocusInitial>Asignar</button>
</div>
