<div class="absolute right-0 -top-[4.25rem]">
   <div class="aspect-[2/1] h-12 flex shadow-xl rounded-xl overflow-hidden bg-white dark:bg-dark-blue-100">
      <button (click)="update()"
         class="bg-gradient-teal bg-clip-content rounded-l-xl text-white dark:text-slate-100 hover:border-3 hover:rounded-r-xl hover:bg-clip-text hover:text-transparent hover:border-[#42b8c6] h-12 w-12 duration-300">
         <mat-icon class="m-auto">
            save
         </mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" class="bg-gradient-cyan bg-clip-text text-transparent h-12 w-12">
         <mat-icon class="m-auto">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item (click)="getAll()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
         </button>
         <!-- <button mat-menu-item (click)="cambiarContrasenaDialog()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">password</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Cambiar contraseña</span>
         </button> -->
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">delete</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Eliminar</span>
         </button>
         <!-- <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
         <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button> -->
      </mat-menu>
      <!-- <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Excel</span>
         </button>

      </mat-menu> -->
   </div>
</div>

<div>
   <div #c class="w-full grid grid-cols-12 gap-6 overflow-hidden">
      <div class="col-span-12 rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg flex justify-start items-center gap-x-4 p-4 overflow-hidden">
         <mat-tab-group dynamicHeight class="w-full">
            <mat-tab label="DATOS GENERALES">
               <form #f [formGroup]="formulario" [ngClass]="f.clientWidth < 640 ? 'grid-cols-3' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'grid-cols-6' : f.clientWidth >= 1024 ? 'grid-cols-12' : 'grid-cols-12'" class="grid justify-items-stretch gap-x-4 py-4">
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Nombre(s)</mat-label>
                     <input matInput type="text" formControlName="nombre">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Apellido paterno</mat-label>
                     <input matInput type="text" formControlName="apellido_paterno">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Apellido materno</mat-label>
                     <input matInput type="text" formControlName="apellido_materno">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Teléfono</mat-label>
                     <input matInput type="text" formControlName="telefono">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Celular</mat-label>
                     <input matInput type="text" formControlName="celular">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Ocupación</mat-label>
                     <input matInput type="text" formControlName="ocupacion">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-3">
                     <mat-label>Correo electrónico</mat-label>
                     <input matInput type="text" formControlName="email">
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <search-select class="w-full col-span-3" [rq]="true" [select]="sel['tbl_sexo_id']" [group]="grup['tbl_sexo_id']" [formCN]="'tbl_sexo_id'" [label]="'Sexo'" (response)="recibiRespuesta($event, 'tbl_sexo_id')"></search-select>
               </form>
            </mat-tab>
            <mat-tab label="ALUMNO">
               <app-mat-table [dataToDisplay]="dataToDisplay"></app-mat-table>
            </mat-tab>
         </mat-tab-group>
      </div>
   </div>
</div>
