<h1 mat-dialog-title>Añadir tipo de actividad</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="taskForm">
    <div class="flex-auto px-2 lg:px-10 py-10 pt-0">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-2">
          <div class="relative w-full mb-0">
            <mat-form-field appearance="fill">
              <mat-label>Nombre del tipo de actividad</mat-label>
              <input matInput formControlName="task"/>
            </mat-form-field>
          </div>
        </div>
        <div class="w-full lg:w-12/12 px-2">
          <div class="relative w-full mb-0">
            <mat-form-field appearance="fill">
              <mat-label>Valor porcentual</mat-label>
              <input matInput  formControlName="porcentaje"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cerrarDialogo()">Cerrar</button>
  <button mat-button (click)="confirmado()" cdkFocusInitial>Añadir</button>
</div>
