<div class="grid grid-cols-12 px-18 gap-5 pb-4">
  <div class="col-span-12">
    <p class="text-gray-600 text-3xl font-semibold uppercase">
      {{ materia }}
    </p>
    <p class="text-gray-500 text-lg font-normal uppercase">
      <label class="font-bold">Periodo: </label> {{ periodo }} {{ fecha }}
    </p>
    <p class="text-gray-500 text-lg font-normal uppercase">
      <label class="font-bold">Grupo: </label>{{ grupo }}
    </p>
  </div>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Alumnos inscritos">
    <div class="flex justify-between">
      <div> <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Nombre del alumno"
          #input
        />
      </mat-form-field></div>
      <div class="pt-4"> <button
        class="bg-green-600 text-white "
        mat-button
        (click)="exporter.exportTable('xlsx', {fileName:'Lista'})"
      >
        Exportar
      </button></div>
    </div>


   
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matTableExporter
        #exporter="matTableExporter"
      >
        <ng-container matColumnDef="alumno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
          <td mat-cell *matCellDef="let row">
            {{ row.apellido_paterno }} {{ row.apellido_materno }}
            {{ row.nombre_alumno }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Correo electrónico
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="calificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Calificación final
          </th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="!row.isEdit">
              <div *ngIf="enableEdit">
                <a
                  [ngClass]="
                    row.calificacion < 7 ? 'text-red-500' : 'text-black'
                  "
                  class="cursor-pointer"
                  (click)="row.isEdit = !row.isEdit; changeEditable()"
                >
                  {{
                    row.calificacion ? row.calificacion : "Sin calificación"
                  }}</a
                >
              </div>
              <div *ngIf="!enableEdit">
                <a
                  [ngClass]="
                    row.calificacion < 7 ? 'text-red-500' : 'text-black'
                  "
                >
                  {{
                    row.calificacion ? row.calificacion : "Sin calificación"
                  }}</a
                >
              </div>
            </div>
            <div *ngIf="row.isEdit" class="m-0 flex">
              <form class="" [formGroup]="editCalificacionForm">
                <mat-form-field>
                  <input
                    matInput
                    formControlName="calificacion"
                    (keyup)="applyValidator($event)"
                    required
                    pattern="^[0-9]+([.])?([0-9]+)?$"
                  />
                </mat-form-field>
              </form>
              <button
                [ngClass]="
                  !editCalificacionForm.invalid
                    ? 'hover:bg-green-600 hover:text-white'
                    : ''
                "
                mat-button
                [disabled]="editCalificacionForm.invalid"
                (click)="
                  row.isEdit = !row.isEdit;
                  asignarCalificacion(row.id_alumno_materia)
                "
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                class="hover:bg-red-600 hover:text-white"
                mat-button
                (click)="row.isEdit = !row.isEdit; changeEditable()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Observaciones
          </th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="!row.isEdit2">
              <div *ngIf="enableEdit">
                <a
                  class="cursor-pointer"
                  (click)="row.isEdit2 = !row.isEdit2; changeEditable()"
                >
                  {{
                    row.observaciones ? row.observaciones : "Sin observaciones"
                  }}</a
                >
              </div>
              <div *ngIf="!enableEdit">
                <a>
                  {{
                    row.observaciones ? row.observaciones : "Sin observaciones"
                  }}</a
                >
              </div>
            </div>
            <div *ngIf="row.isEdit2" class="m-0 flex">
              <form class="" [formGroup]="editObservacionForm">
                <mat-form-field>
                  <input
                    matInput
                    formControlName="observacion"
                    (keyup)="applyValidator($event)"
                    required
                  />
                </mat-form-field>
              </form>
              <button
                [ngClass]="
                  !editObservacionForm.invalid
                    ? 'hover:bg-green-600 hover:text-white'
                    : ''
                "
                mat-button
                [disabled]="editObservacionForm.invalid"
                (click)="
                  row.isEdit2 = !row.isEdit2;
                  asignarObservacion(row.id_alumno_materia)
                "
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                class="hover:bg-red-600 hover:text-white"
                mat-button
                (click)="row.isEdit2 = !row.isEdit2; changeEditable()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay datos que coincidan con el filtro "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[50, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Parciales">
    <div class="flex items-center justify-center pt-8 pb-8">
      <div class="grid grid-cols-12 px-18 gap-5">
        <a
          *ngFor="let element of parciales; let i = index"
          (click)="openDialog(element)"
          class="2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-6 xm:col-span-12 col-span-12"
        >
          <div
            class="bg-white shadow-lg hover:shadow-xl hover:-mt-2 rounded-xl h-48 w-full cursor-pointer"
          >
            <img
              src="https://a0.muscache.com/im/pictures/a433b4d0-8183-4523-b4c5-99b81c5729c1.jpg?im_w=320"
              class="rounded-t-xl max-h-28 w-full"
            />
            <p class="pt-1 pr-3 pl-3 text-gray-500 font-bold">
              Parcial: {{ element.contador }}
            </p>
            <p class="text-sm pt-0 pr-3 pl-3 text-gray-500">
              Del {{ element.fecha_inicial }} al {{ element.fecha_final }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
