
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  #parallax {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: 
    url(../../../../assets/img/Destello.svg),
    url(../../../../assets/img/circulogrande.svg),
    url(../../../../assets/img/lineascirculo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
   
  }

  