<div class="absolute right-0 -top-[4.25rem]">
   <div class="aspect-[2/1] h-12 flex shadow-xl rounded-xl overflow-hidden bg-white dark:bg-dark-blue-100">
      <button (click)="update()"
         class="bg-gradient-teal bg-clip-content rounded-l-xl text-white dark:text-slate-100 hover:border-3 hover:rounded-r-xl hover:bg-clip-text hover:text-transparent hover:border-[#42b8c6] h-12 w-12 duration-300">
         <mat-icon class="m-auto">
            save
         </mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" class="bg-gradient-cyan bg-clip-text text-transparent h-12 w-12">
         <mat-icon class="m-auto">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item (click)="getAll()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
         </button>
         <!-- <button mat-menu-item (click)="cambiarContrasenaDialog()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">password</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Cambiar contraseña</span>
         </button> -->
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">delete</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Eliminar</span>
         </button>
         <!-- <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
         <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button> -->
      </mat-menu>
      <!-- <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Excel</span>
         </button>

      </mat-menu> -->
   </div>
</div>

<div>
   <div #c class="w-full grid grid-cols-24 gap-6 overflow-hidden">
      <div
         class="col-span-24 rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg flex flex-col justify-start items-center gap-x-4 p-4 overflow-hidden">
         <div class="flex w-full justify-start border-b border-[#e0e0e022]">
            <div
               class="px-6 h-12 w-44 text-sm font-semibold flex items-center justify-center bg-gradient-fuchsia bg-clip-text text-transparent border-b-2 [border-image:linear-gradient(310deg,#6C2BD9,#E74694)1]">
               DATOS GENERALES
            </div>
         </div>
         <form #f [formGroup]="formulario"
            [ngClass]="f.clientWidth < 640 ? 'grid-cols-6' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'grid-cols-12' : f.clientWidth >= 1024 ? 'grid-cols-24' : 'grid-cols-24'"
            class="grid justify-items-stretch gap-x-4 py-4 w-full">
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Código programa académico</mat-label>
               <input matInput type="text" formControlName="descripcion">
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Especialidad</mat-label>
               <input matInput type="text" formControlName="especialidad">
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Fecha</mat-label>
               <input matInput [matDatepicker]="picker" formControlName="fecha">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker class="rounded-xl overflow-hidden"></mat-datepicker>
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_tipo_periodo_id']"
               [group]="grup['tbl_tipo_periodo_id']" [formCN]="'tbl_tipo_periodo_id'" [label]="'Tipo de periodo'"
               (response)="recibiRespuesta($event, 'tbl_tipo_periodo_id')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_carrera_id']"
               [group]="grup['tbl_carrera_id']" [formCN]="'tbl_carrera_id'" [label]="'Carrera'"
               (response)="recibiRespuesta($event, 'tbl_carrera_id')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['coordinador']"
               [group]="grup['coordinador']" [formCN]="'coordinador'" [label]="'Coordinador'"
               (response)="recibiRespuesta($event, 'coordinador')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['servicio_social']"
               [group]="grup['servicio_social']" [formCN]="'servicio_social'" [label]="'Servicio social'"
               (response)="recibiRespuesta($event, 'servicio_social')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['secretaria_academica']"
               [group]="grup['secretaria_academica']" [formCN]="'secretaria_academica'" [label]="'Secretaria académica'"
               (response)="recibiRespuesta($event, 'secretaria_academica')"></search-select>
         </form>
      </div>
   </div>
</div>
