<div *ngIf="!ready">
   <app-waiter></app-waiter>
</div>
  <!-- Navbar -->
  <!-- <app-breadcrumbs></app-breadcrumbs> -->
  <div class="w-full px-6 py-6 mx-auto">

    <div class="flex flex-wrap -mx-3">
      <div class="flex-none w-full max-w-full px-3">
        <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border dark:bg-dark-blue-100 dark:text-slate-300">

          <div class="flex-auto px-0 pt-0 pb-2 m-4">
            <div class="p-0 overflow-x-auto">
                <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0 text-slate-500 dark:bg-dark-blue-100 dark:text-slate-300">
                    <div class="flex flex-wrap mt-0 -mx-3">
                      <div class="flex-none w-7/12 max-w-full px-2 mt-0 lg:w-1/2 lg:flex-none">
                        <h6 class="font-bold text-xl">{{title}}</h6>
                        <!-- <p class="mb-0 leading-normal text-size-sm">

                          <span class="ml-1 font-semibold">30 done</span>
                          this month
                        </p> -->
                      </div>
                      <div class="flex-none w-5/12 max-w-full px-3 my-auto text-right lg:w-1/2 lg:flex-none">
                        <div class="relative pr-6 lg:float-right">
                            <div class="flex items-center sm:order-2">

                                <button
                                class="flex text-sm text-white font-bold  disabled:bg-gray-300 bg-orange-400 p-3 shadow-lg rounded-tl-lg rounded-bl-lg sm:mr-0"
                                [matTooltip]="'Agregar ' + title"
                                (click)="openDialog()"
                              >
                              <mat-icon> add </mat-icon>
                              </button>
                              <button
                              class="flex text-sm text-slate-500 font-bold  disabled:bg-gray-300 bg-white p-3 dark:bg-slate-500 dark:text-slate-50 shadow-lg  rounded-tr-lg rounded-br-lg sm:mr-0"


                              [matMenuTriggerFor]="menu"
                            >
                            <mat-icon class=""> keyboard_arrow_down </mat-icon>
                            </button>


                                <mat-menu #menu="matMenu" xPosition="before" class="px-4 bg-white dark:bg-dark-blue-50 dark:text-slate-300">
                                  <button mat-menu-item  class=" text-slate-500 dark:text-slate-300">
                                    Crear tipo de actividad
                                  </button>
                                  <button
                                    mat-menu-item
                                    class=" text-slate-500 dark:text-slate-300"
                                  >
                                    Exportar
                                  </button>
                                </mat-menu>
                              </div>



                        </div>
                      </div>
                    </div>
                  </div>
              <mat-form-field class="w-full md:w-1/2 pl-4 text-slate-500 dark:text-slate-300">
               <mat-error>Ingresa un valor válido</mat-error>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input class="border-b border-white">
              </mat-form-field>



              <div class="bg-transparent">
                <table mat-table [dataSource]="dataSource" matSort
                class="items-center justify-center w-full mb-0 align-top border-gray-200 text-slate-500 bg-transparent dark:text-slate-300 dark:border-white ">


                 <!-- ID Column -->
                 <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="flex px-2 py-4">
                            <div>
                              <img src="assets/img/team-1.jpg" class="inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-size-sm h-9 w-9 rounded-xl" alt="user1" />
                            </div>
                            <div class="flex flex-col justify-center">
                              <h6 class="mb-0 leading-normal text-size-sm">{{row.name}}</h6>
                              <p class="mb-0 leading-tight text-size-xs text-slate-400">john@creative-tim.com</p>
                            </div>
                          </div>
                          <!-- <img src="assets/img/team-1.jpg" class="inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-size-sm h-9 w-9 rounded-xl" alt="user1" /> </td> -->
                  </ng-container>


                  <!-- Progress Column -->
                  <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                    <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                  </ng-container>


                  <!-- Fruit Column -->
                  <ng-container matColumnDef="fruit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                    <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                  </ng-container>
                   <!-- Name Column -->
                   <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row"> Hola </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b border-b-slate-200 "></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="border-b border-b-slate-200 "></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              <div class="bg-transparent text-xs ">
                <mat-paginator class="bg-transparent text-xs  text-slate-500 dark:text-slate-300" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
