table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    
  }
  
  td, th {
    width: 25%;
  }

  .mat-cell, .mat-footer-cell {
    color: inherit;
}

.mat-header-cell {
    color:inherit;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: inherit;
}

// ::ng-deep .mat-input-element {
//     font: inherit;
//     background: transparent;
//     color: white;
//     border: none;
//     outline: none;
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     max-width: 100%;
//     vertical-align: bottom;
//     text-align: inherit;
//     box-sizing: content-box;
// }

.mat-table {
     font-family: inherit;
}

td.mat-cell {
    border-bottom: inherit;
    border-top: inherit;
   }

   th.mat-header-cell{
    border-bottom: inherit;
    border-top: inherit;
   }

   ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label {
    color: inherit;
}

.mat-input-element {
    caret-color: inherit;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:  #abb6c1 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color:  #abb6c1 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #abb6c1 !important;
  }

//   ::ng-deep.mat-select-value {
//     width: 100%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     color: inherit;
// }

::ng-deep.mat-paginator { //Paginador
    background: transparent !important;
    font-family: inherit !important;
    color: inherit !important;
    font-size: inherit;
    line-height:inherit;
  }
  
  ::ng-deep.mat-icon-button.mat-button-disabled.mat-button-disabled { // Flechas paginador
    color: inherit !important;
    outline: none;
  }
 
  ::ng-deep.mat-select-value-text { //Opción seleccionada en select
    font-family: inherit !important;
    color: #abb6c1 !important;
    font-size: inherit;
    line-height:inherit;
  }
  
  ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex { // Fondo del select y padding
    border-radius: 4px 4px 0 0;
    padding: 0 0.75em 0 0.75em !important;
    background-color: inherit;
  }
  
  ::ng-deep.mat-select-arrow { // Ícono flecha select
    margin-top: auto !important;
    margin-bottom: auto !important;
    color: #abb6c1;
    display: inline-block !important;
    vertical-align: middle !important;
  }
  
  ::ng-deep.mat-select-panel:not([class*=mat-elevation-z]) { // Color de fondo de opciones en select 
    background: white !important;
  }
  
  ::ng-deep.mat-option-text { // Cada una de las opciones dentro del listado
    color: inherit !important;
    font-family: inherit;
    font-size: inherit !important;
    line-height: inherit !important;
  }
  
  ::ng-deep.mat-option-text:hover{ // Hover para cada una de las opciones dentro del listado
    color: inherit !important;
  }
  
  
  ::ng-deep.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) { // Opción seleccionada dentro del listado
    background: inherit;
  }