.blanco {
   // Materia sin cursar
   background-color: #f8fafc;
}

.morado {
   // Cursando Materia
   //background-color: #d358f7; Cambio a peticion de charly
   background-color: #a985ff;
   background-image: linear-gradient(45deg,#a100f2,#c756ff);
}

.verde {
   // Materia Acreditada
   background-color: #a1e5aa;
   background-image: linear-gradient(45deg,#11998e,#38ef7d);

}

.gris {
   // Materia D1
   background-color: #bdbdbd;
   background-image: linear-gradient(45deg,#9ca3af,#f3f4f6);
}

.amarillo {
   // Materia Tercera Oportunidad
   background-color: #ebed69;
   background-image: linear-gradient(45deg,#ffb533,#ffe324);
}

.naranja {
   // Materia Tercera Oportunidad
   background-color: #ff962e;
   background-image: linear-gradient(45deg,#fc651a,#f78733);
}

.debido {
   //Materia 4ta oportunidad
   background-color: #f75a5a;
   background-image: linear-gradient(45deg,#fe5196,#F87062);

}

.rojo {
   // Materia Más de 4 Oportunidades
   background-color: #fc2341;
   background-image: linear-gradient(45deg,#fb3f47,#eb889b);
}

.azul {
   background-color: #9bd5ff;
   background-image: linear-gradient(45deg,#3d64f2,#63b9ff);

   }
