<div class="flex flex-col justify-start items-start overflow-x-scroll mx-auto">
   <div class="flex gap-4 mx-4 border-b-3 [border-image:linear-gradient(-90deg,#6d28d9,#ec4899)1]">
      <div *ngFor="let x of arrayBloques" class="w-32 text-center dark:text-slate-300">
         {{ x?.Bloque | numberToRomanSymbol }}
      </div>
   </div>
   <div class="flex gap-4 mx-4 mb-4">
      <div class="flex flex-col" *ngFor="let x of arrayBloques"> <!-- Columnas -->
         <div class="text-xs text-center dark:text-slate-100" *ngFor="let y of arrayBloquesMaterias"> <!-- Cada materia -->
            <div class="py-2 leading-[14px]" *ngIf="y?.bloque == x?.Bloque" (click)="!y.oportunidad ? cargarHorario(y) : y.color === 'azul' ? asignarMateria(y) : y?.color != 'azul' && y?.color != 'morado' && y?.color != 'verde' ? asignarExtra(y) : y.color === 'morado' ? asignarCalificacion(y) : ''">
               <div class="h-32 w-32 flex flex-col gap-y-1 bg-slate-100 dark:bg-[#1B2536] rounded-xl overflow-hidden shadow-lg duration-300 dark:shadow-black/30 {{y?.color != 'verde' ? 'cursor-pointer hover:shadow-xl' : 'cursor-default'}}">
                  <div class="flex items-center text-white font-medium h-[12.5%] bg-gradient-celestial">
                     <div class="w-full bg-white/30">T-{{ y?.horas_teoricas }}</div>
                     <div class="w-full bg-white/30">P-{{ y?.horas_practicas }}</div>
                     <div class="w-full bg-white/30">C-{{ y?.creditos }}</div>
                  </div>
                  <div class="h-[58.33%] font-semibold text-[13px] px-1 ">
                     {{ y?.nombre }}
                     <div class="bg-clip-text text-transparent bg-gradient-fuchsia p-0.5">{{ y?.codigo }}</div>
                  </div>
                  <div class="rounded-md {{y?.Materia?.codigo ? 'bg-blue-400' : ''}} py-px px-0.5 m-auto h-[12.5%] font-medium">
                     {{y?.calificacion && y?.Materia?.codigo ? y?.Materia?.codigo : '' }}
                  </div>
                  <div class="{{y?.color}} rounded-md text-slate-800 m-auto font-semibold py-[3px] h-1/6 {{y.oportunidad ? ' px-1' : 'p-0'}} mb-1">
                     {{ !y?.oportunidad ? '' : y?.color == 'morado'? y?.oportunidad : y?.calificacion + ' ' + y?.oportunidad }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="flex gap-2">
      <div *ngFor="let x of arrayBloques" class="flex flex-col text-[11px] gap-1">
         <div *ngFor="let y of arrayBloquesMaterias" class="flex gap-2 {{y?.color != 'verde' ? 'cursor-pointer' : 'cursor-default'}}" (click)="y.color === 'azul' ? asignarMateria(y) : y?.color != 'azul' && y?.color != 'morado' && y?.color != 'verde' ? asignarExtra(y) : y.color === 'morado' ? asignarCalificacion(y) : ''">
            <div *ngIf="y?.bloque == x?.Bloque"
               class="h-28 w-28 bg-white/20 text-slate-100 overflow-hidden rounded-md shadow-md text-center flex flex-col gap-1 leading-3 m-1" >
               <div class="flex font-medium h-1/6">
                  <div class="w-full">T-{{ y?.horas_teoricas }}</div>
                  <div class="w-full">P-{{ y?.horas_practicas }}</div>
                  <div class="w-full">C-{{ y?.creditos }}</div>
               </div>

               <div class="h-3/6 font-semibold">
                  {{ y?.nombre }}
                  <div>{{ y?.codigo }}</div>
               </div>
               <div *ngIf="y?.calificacion && y?.Materia.codigo" class="rounded-md bg-blue-400 p-0.5 m-auto text-white h-1/6 font-medium">
                  {{ y?.Materia.codigo }}
               </div>
               <div *ngIf="y?.calificacion && !y?.Materia.codigo"
                  class=" h-1/6">
                  {{ ' ' }}
               </div>
               <div class="/bg-[#14b8a6] {{y?.color}} rounded-md text-white h-1/6 m-auto font-medium">{{ y?.color == 'morado'?
                  y?.oportunidad: y?.calificacion + ' ' + y?.oportunidad }}</div>
            </div>
         </div>
      </div>
   </div> -->
</div>

<!--  -->
