.blanco {
   // Materia sin cursar
   background-color: #ffffff;
}

.morado {
   // Cursando Materia
   //background-color: #d358f7; Cambio a peticion de charly
   background-color: #a985ff;
}

.verde {
   // Materia Acreditada
   background-color: #a1e5aa;
}

.gris {
   // Materia D1
   background-color: #bdbdbd;
}

.amarillo {
   // Materia Tercera Oportunidad
   background-color: #ebed69;
}

.naranja {
   // Materia Tercera Oportunidad
   background-color: #ff962e;
}

.debido {
   //Materia 4ta oportunidad
   background-color: #f75a5a;
}

.rojo {
   // Materia Más de 4 Oportunidades
   background-color: #fc2341;
}
