<nav
  class="fixed top-0 left-0 right-0 z-50 bg-white dark:bg-dark-blue-100 px-2 sm:px-2 py-3 "
>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <div>
      <button    matTooltip="Cerrar" class="text-slate-500 dark:text-slate-300"  mat-dialog-close>
        <mat-icon> close </mat-icon>
      </button>
    </div>

    <!-- <a href="https://netscool.com.mx" class="flex items-left">
    <img src="assets/img/logo.png" class="mr-3 h-10 sm:h-9" alt="PTS" />
  </a> -->

    <div class="flex items-center sm:order-2">
      
      <button
      matTooltip="Crear un nuevo registro"
      class="flex text-sm text-white font-bold  disabled:bg-gray-300 bg-orange-400 p-3 rounded-lg  sm:mr-0"
      (click)="confirmado()"
    >
      Añadir
    </button>
      <!-- <button
        class="relative z-10 block rounded-md bg-white p-2 focus:outline-none"
        mat-button
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon> keyboard_arrow_down </mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
       
        
      </mat-menu> -->
    </div>
  </div>
</nav>
<mat-dialog-content>
  

  <!-- <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="false"
    ><p style="color: white">Cargando...</p></ngx-spinner
  > -->




<div class="flex  items-center justify-start bg-white dark:bg-dark-blue-100 pt-0 h-full text-slate-500 dark:text-slate-300">
    <div class="mx-auto w-full max-w-2xl">
      <h1 class="text-4xl font-medium">Añadir alumno</h1>
      <p class="mt-3">Completa el formulario para crear un nuevo registro</p>
        <form class="mt-10"[formGroup]="taskForm">
        <div class="grid gap-6sm:grid-cols-2">
          <div class="relative z-0">
            <mat-form-field appearance="fill">
                <mat-label class="text-slate-500 dark:text-slate-300">Tipo de actividad</mat-label>
                <mat-select  formControlName="tbl_parciales_task_tipo">
                  <mat-option *ngFor="let option of lista" [value]="option.id">
                    {{ option.nombre_actividad }} ({{ option.porcentaje }}%)
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="relative z-0">
            <mat-form-field appearance="fill">
                <mat-label class="text-slate-500 dark:text-slate-300">Nombre de la actividad</mat-label>
                <input matInput formControlName="nombre"/>
              </mat-form-field>
          </div>
          <div class="relative z-0">
            <mat-form-field appearance="fill">
                <mat-label class="text-slate-500 dark:text-slate-300">Tipo de actividad</mat-label>
                <mat-select  formControlName="tbl_parciales_task_tipo">
                  <mat-option *ngFor="let option of lista" [value]="option.id">
                    {{ option.nombre_actividad }} ({{ option.porcentaje }}%)
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="relative z-0">
            <mat-form-field appearance="fill">
                <mat-label class="text-slate-500 dark:text-slate-300">Nombre de la actividad</mat-label>
                <input matInput formControlName="nombre"/>
              </mat-form-field>
          </div>
          <div class="relative z-0 col-span-2">
            <mat-form-field appearance="fill">
                <mat-label class="text-slate-500 dark:text-slate-300">Fecha de publicación</mat-label>
                <input matInput [matDatepicker]="picker1"  formControlName="fecha_publicacion"/>
                <mat-hint class="text-slate-500 dark:text-slate-300">MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1" class="text-slate-500 dark:text-slate-300"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1 class="text-slate-500 dark:text-slate-300"></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>





