<div class="absolute right-0 -top-[4.25rem]">
   <div class="aspect-[2/1] h-12 flex shadow-xl rounded-xl overflow-hidden bg-white dark:bg-dark-blue-100">
      <button (click)="update()"
         class="bg-gradient-teal bg-clip-content rounded-l-xl text-white dark:text-slate-100 hover:border-3 hover:rounded-r-xl hover:bg-clip-text hover:text-transparent hover:border-[#42b8c6] h-12 w-12 duration-300">
         <mat-icon class="m-auto">
            save
         </mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" class="bg-gradient-cyan bg-clip-text text-transparent h-12 w-12">
         <mat-icon class="m-auto">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item (click)="getAll()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
         </button>
         <!-- <button mat-menu-item (click)="cambiarContrasenaDialog()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">password</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Cambiar contraseña</span>
         </button> -->
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">delete</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Eliminar</span>
         </button>
         <!-- <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
         <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button> -->
      </mat-menu>
      <!-- <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Excel</span>
         </button>

      </mat-menu> -->
   </div>
</div>
<div>
   <div #c class="w-full  gap-6 overflow-hidden">
      <div class=" rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg flex justify-start items-center gap-x-4 p-4 overflow-hidden">
         <mat-tab-group dynamicHeight class="w-full">
            <mat-tab label="DATOS GENERALES">
               <form #f [formGroup]="formulario" [ngClass]="f.clientWidth < 640 ? 'grid-cols-6' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'grid-cols-12' : f.clientWidth >= 1024 ? 'grid-cols-24' : ''" class="grid justify-items-stretch gap-x-4 py-4">
                  <search-select class="w-full col-span-6" [rq]="true" [select]="sel['nomenclatura']"
                     [group]="grup['nomenclatura']" [formCN]="'nomenclatura'" [label]="'Nomenclatura'"
                     (response)="recibiRespuesta($event, 'nomenclatura')"></search-select>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Nombre</mat-label>
                     <input matInput type="text" formControlName="nombre">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Apellido paterno</mat-label>
                     <input matInput type="text" formControlName="apellido_paterno">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Apellido materno</mat-label>
                     <input matInput type="text" formControlName="apellido_materno">
                  </mat-form-field>
                  <div class="pt-1 pb-6 col-span-6">
                     <div class="flex flex-col h-[3.75rem] border-[1.5px] hover:border-2 border-[#e0e0e0] hover:border-black dark:border-[#343e51] dark:hover:border-[#f6ac3f66] rounded-md p-2 relative duration-300">
                        <label class="text-xs absolute -top-2 bg-white dark:bg-dark-blue-100 px-1">Sexo</label>
                        <mat-radio-group formControlName="tbl_sexo_id" class="flex flex-wrap gap-x-6 h-full items-center w-full overflow-hidden">
                           <mat-radio-button *ngFor="let item of sel['tbl_sexo_id']" [value]="item.id" class="w-[6.5rem] capitalize">{{item.name.toLowerCase()}}</mat-radio-button>
                        </mat-radio-group>
                     </div>
                  </div>
                  <div class="pt-1 pb-6 col-span-6">
                     <div class="flex flex-col h-[3.75rem] border-[1.5px] hover:border-2 border-[#e0e0e0] hover:border-black dark:border-[#343e51] dark:hover:border-[#f6ac3f66] rounded-md p-2 relative duration-300">
                        <label class="text-xs absolute -top-2 bg-white dark:bg-dark-blue-100 px-1">Estado del maestro</label>
                        <mat-radio-group formControlName="tbl_estado_maestro_id" class="flex flex-wrap gap-x-6 h-full items-center w-full overflow-hidden">
                           <mat-radio-button *ngFor="let item of sel['tbl_estado_maestro_id']" [value]="item.id" class="w-[6.5rem]">{{item.name}}</mat-radio-button>
                         </mat-radio-group>
                     </div>
                  </div>
                  <!-- <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_sexo_id']"
                     [group]="grup['tbl_sexo_id']" [formCN]="'tbl_sexo_id'" [label]="'Sexo'"
                     (response)="recibiRespuesta($event, 'tbl_sexo_id')"></search-select>
                     <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_estado_maestro_id']"
                     [group]="grup['tbl_estado_maestro_id']" [formCN]="'tbl_estado_maestro_id'" [label]="'Estado del maestro'"
                     (response)="recibiRespuesta($event, 'tbl_estado_maestro_id')"></search-select> -->
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>RFC</mat-label>
                     <input matInput type="text" formControlName="rfc">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>CURP</mat-label>
                     <input matInput type="text" formControlName="curp">
                  </mat-form-field>
                  <div [ngClass]="f.clientWidth < 640 ? 'col-span-6' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'col-span-12' : f.clientWidth >= 1024 ? 'col-span-24' : ''" class="mb-4 ml-4">
                     <span class="bg-clip-text text-transparent font-semibold bg-gradient-teal">
                        INFORMACIÓN DE CONTACTO
                     </span>
                  </div>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Correo electrónico</mat-label>
                     <input matInput type="text" formControlName="email">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Teléfono</mat-label>
                     <input matInput type="text" formControlName="telefono">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Celular</mat-label>
                     <input matInput type="text" formControlName="celular">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Dirección</mat-label>
                     <input matInput type="text" formControlName="direccion">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Código postal</mat-label>
                     <input matInput type="text" formControlName="codigo_postal">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Número de empleado</mat-label>
                     <input matInput type="text" formControlName="numero_empleado">
                  </mat-form-field>
               </form>
            </mat-tab>
            <mat-tab label="MAS INFORMACIÓN">
               <form #f2 [formGroup]="formulario" [ngClass]="f2.clientWidth < 640 ? 'grid-cols-6' : f2.clientWidth < 1024 && f2.clientWidth >= 640 ? 'grid-cols-12' : f2.clientWidth >= 1024 ? 'grid-cols-24' : 'grid-cols-24'" class="grid justify-items-stretch gap-x-4 py-4 w-full">
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Fecha de ingreso</mat-label>
                     <input matInput [matDatepicker]="picker_ingreso" formControlName="fecha_ingreso">
                     <mat-datepicker-toggle matSuffix [for]="picker_ingreso"></mat-datepicker-toggle>
                     <mat-datepicker #picker_ingreso class="rounded-xl overflow-hidden"></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Fecha de ingreso IMSS</mat-label>
                     <input matInput [matDatepicker]="picker_ingreso_imss" formControlName="fecha_ingreso_imss">
                     <mat-datepicker-toggle matSuffix [for]="picker_ingreso_imss"></mat-datepicker-toggle>
                     <mat-datepicker #picker_ingreso_imss class="rounded-xl overflow-hidden"></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Antigüedad</mat-label>
                     <mat-icon matPrefix (click)="a_anti.valueAsNumber=a_anti.valueAsNumber-1" class="cursor-pointer">remove</mat-icon>
                     <input matInput #a_anti type="number" formControlName="anios_antiguedad" class="!mx-auto !text-center">
                     <mat-icon matSuffix (click)="a_anti.valueAsNumber=a_anti.valueAsNumber+1" class="cursor-pointer">add</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Puesto</mat-label>
                     <input matInput type="text" formControlName="puesto">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Entidad</mat-label>
                     <input matInput type="text" formControlName="entidad">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Número de IMSS</mat-label>
                     <input matInput type="text" formControlName="numero_imss">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Nacionalidad</mat-label>
                     <input matInput type="text" formControlName="nacionalidad">
                  </mat-form-field>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_grado_id']"
                     [group]="grup['tbl_grado_id']" [formCN]="'tbl_grado_id'" [label]="'Grado'"
                     (response)="recibiRespuesta($event, 'tbl_grado_id')"></search-select>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_tipo_trabajador_id']"
                     [group]="grup['tbl_tipo_trabajador_id']" [formCN]="'tbl_tipo_trabajador_id'" [label]="'Tipo de trabajador'"
                     (response)="recibiRespuesta($event, 'tbl_tipo_trabajador_id')"></search-select>
                  <div class="pt-1 pb-6 col-span-6">
                     <div class="col-span-6 flex flex-col h-[3.75rem] border-[1.5px] hover:border-2 border-[#e0e0e0] hover:border-black dark:border-[#343e51] dark:hover:border-[#f6ac3f66] rounded-md p-2 relative duration-300">
                        <label class="text-xs absolute -top-2 bg-white dark:bg-dark-blue-100 px-1">Estado civil</label>
                        <mat-radio-group formControlName="tbl_estado_civil_id" class="flex flex-wrap gap-x-6 h-full items-center w-full min-w-[15rem] overflow-hidden">
                           <div class="!min-w-[5rem]">
                              <mat-radio-button *ngFor="let item of sel['tbl_estado_civil_id']" [value]="item.id" class="w-28">{{item.name}}</mat-radio-button>
                           </div>
                        </mat-radio-group>
                     </div>
                  </div>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_estado_civil_id']"
                     [group]="grup['tbl_estado_civil_id']" [formCN]="'tbl_estado_civil_id'" [label]="'Estado civil'"
                     (response)="recibiRespuesta($event, 'tbl_estado_civil_id')"></search-select>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_pais_id']"
                     [group]="grup['tbl_pais_id']" [formCN]="'tbl_pais_id'" [label]="'País'"
                     (response)="recibiRespuesta($event, 'tbl_pais_id')"></search-select>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_estado_id']"
                     [group]="grup['tbl_estado_id']" [formCN]="'tbl_estado_id'" [label]="'Estado'"
                     (response)="recibiRespuesta($event, 'tbl_estado_id')"></search-select>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_municipio_id']"
                     [group]="grup['tbl_municipio_id']" [formCN]="'tbl_municipio_id'" [label]="'Municipio'"
                     (response)="recibiRespuesta($event, 'tbl_municipio_id')"></search-select>
                  <search-select class="w-full col-span-6" [select]="sel['tbl_sangre_id']"
                     [group]="grup['tbl_sangre_id']" [formCN]="'tbl_sangre_id'" [label]="'Grupo sanguíneo'"
                     (response)="recibiRespuesta($event, 'tbl_sangre_id')"></search-select>
                  <mat-form-field appearance="outline" class="col-span-12">
                     <mat-label>Indicaciones médicas</mat-label>
                     <input matInput type="text" formControlName="indicaciones_medicas">
                  </mat-form-field>
                     <div [ngClass]="f2.clientWidth < 640 ? 'col-span-6' : f2.clientWidth < 1024 && f2.clientWidth >= 640 ? 'col-span-12' : f2.clientWidth >= 1024 ? 'col-span-24' : ''" class="mb-4 ml-4">
                        <span class="bg-clip-text text-transparent font-semibold bg-gradient-teal">
                           ESTADO DE BAJA
                        </span>
                     </div>
                  <div class="pt-1 pb-6 col-span-6">
                     <div class="col-span-6 flex flex-col h-[3.75rem] border-[1.5px] hover:border-2 border-[#e0e0e0] hover:border-black dark:border-[#343e51] dark:hover:border-[#f6ac3f66] rounded-md p-2 relative duration-300">
                        <label class="text-xs absolute -top-2 bg-white dark:bg-dark-blue-100 px-1">Motivo de baja</label>
                        <mat-radio-group formControlName="tbl_tipo_motivo_baja_id" class="flex flex-wrap gap-x-6 h-full items-center w-full min-w-[15rem] overflow-hidden">
                           <div class="!min-w-[5rem]">
                              <mat-radio-button *ngFor="let item of sel['tbl_tipo_motivo_baja_id']" [value]="item.id" class="w-28">{{item.name}}</mat-radio-button>
                           </div>
                        </mat-radio-group>
                     </div>
                  </div>
                  <!-- <search-select class="w-full col-span-6" [select]="sel['tbl_tipo_motivo_baja_id']"
                     [group]="grup['tbl_tipo_motivo_baja_id']" [formCN]="'tbl_tipo_motivo_baja_id'" [label]="'Motivo de baja'"
                     (response)="recibiRespuesta($event, 'tbl_tipo_motivo_baja_id')"></search-select> -->
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Motivo de salida</mat-label>
                     <input matInput type="text" formControlName="motivo_salida">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Fecha de baja IMSS</mat-label>
                     <input matInput [matDatepicker]="picker_baja_imss" formControlName="fecha_baja_imss">
                     <mat-datepicker-toggle matSuffix [for]="picker_baja_imss"></mat-datepicker-toggle>
                     <mat-datepicker #picker_baja_imss class="rounded-xl overflow-hidden"></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-6">
                     <mat-label>Fecha de baja laboral</mat-label>
                     <input matInput [matDatepicker]="picker_baja_laboral" formControlName="fecha_baja_laboral">
                     <mat-datepicker-toggle matSuffix [for]="picker_baja_laboral"></mat-datepicker-toggle>
                     <mat-datepicker #picker_baja_laboral class="rounded-xl overflow-hidden"></mat-datepicker>
                  </mat-form-field>

               </form>
            </mat-tab>
            <mat-tab label="DOCUMENTOS">
               <form #f3 [formGroup]="formulario" [ngClass]="f3.clientWidth < 640 ? 'grid-cols-6' : f3.clientWidth < 1024 && f3.clientWidth >= 640 ? 'grid-cols-12' : f3.clientWidth >= 1024 ? 'grid-cols-24' : 'grid-cols-24'" class="grid justify-items-stretch gap-x-4 py-4 w-full">
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="credencial_elector">Credencial de elector</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="comprobante_domicilio">Comprobante de domicilio</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="comprobante_estudios">Comprobante de estudios</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="acta_nacimiento">Acta de nacimiento</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="curriculum_vitae">Currículum vitae</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="constancia_cursos">Constancia de estudios actualizados</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="rfc2">RFC</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="curp2">CURP</mat-checkbox>
                  <mat-checkbox class="col-span-6 h-12 max-w-xs break-words" formControlName="alta_nss">Comprobante de alta de número de servicio social</mat-checkbox>
               </form>
            </mat-tab>
            <mat-tab label="CONTACTOS">
               <app-mat-table [dataToDisplay]="dataContactos"></app-mat-table>
            </mat-tab>
            <mat-tab label="ACTIVIDADES">
               <app-mat-table [dataToDisplay]="dataActividades"></app-mat-table>
            </mat-tab>
            <mat-tab label="VACACIONES">
               <app-mat-table [dataToDisplay]="dataVacaciones"></app-mat-table>
            </mat-tab>
         </mat-tab-group>
      </div>
   </div>
</div>
