<div class="absolute right-0 -top-[4.25rem]">
   <div class="aspect-[2/1] h-12 flex shadow-xl rounded-xl overflow-hidden bg-white dark:bg-dark-blue-100">
      <button (click)="update()"
         class="bg-gradient-teal bg-clip-content rounded-l-xl text-white dark:text-slate-100 hover:border-3 hover:rounded-r-xl hover:bg-clip-text hover:text-transparent hover:border-[#42b8c6] h-12 w-12 duration-300">
         <mat-icon class="m-auto">
            save
         </mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" class="bg-gradient-cyan bg-clip-text text-transparent h-12 w-12">
         <mat-icon class="m-auto">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item (click)="getAll()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
         </button>
         <!-- <button mat-menu-item (click)="cambiarContrasenaDialog()">
            <mat-icon class="text-slate-700 dark:!text-slate-300">password</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Cambiar contraseña</span>
         </button> -->
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">delete</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Eliminar</span>
         </button>
         <!-- <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button>
         <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon class="text-slate-700 dark:!text-slate-300">description</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Generar documento</span>
         </button> -->
      </mat-menu>
      <!-- <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
         <button mat-menu-item>
            <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
            <span class="text-slate-700 dark:!text-slate-300">Excel</span>
         </button>

      </mat-menu> -->
   </div>
</div>

<div>
   <div #c class="w-full grid grid-cols-24 gap-6 overflow-hidden">
      <div
         class="col-span-24 rounded-xl bg-white dark:bg-dark-blue-100 dark:text-slate-300 shadow-lg flex flex-col justify-start items-center gap-x-4 p-4 overflow-hidden">
         <div class="flex w-full justify-start border-b border-[#e0e0e022]">
            <div
               class="px-6 h-12 w-44 text-sm font-semibold flex items-center justify-center bg-gradient-fuchsia bg-clip-text text-transparent border-b-2 [border-image:linear-gradient(310deg,#6C2BD9,#E74694)1]">
               DATOS GENERALES
            </div>
         </div>
         <form #f [formGroup]="formulario"
            [ngClass]="f.clientWidth < 640 ? 'grid-cols-6' : f.clientWidth < 1024 && f.clientWidth >= 640 ? 'grid-cols-12' : f.clientWidth >= 1024 ? 'grid-cols-24' : 'grid-cols-24'"
            class="grid justify-items-stretch gap-x-4 py-4 w-full">
            <mat-form-field appearance="outline" class="md:col-span-12 col-span-6">
               <mat-label>Nombre</mat-label>
               <input matInput type="text" formControlName="nombre">
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Código programa académico</mat-label>
               <input matInput type="text" formControlName="codigo">
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <div class="w-full flex items-center pb-5 col-span-6">
               <mat-slide-toggle class="w-full dark:text-[#cbd5e1]" formControlName="optativa">Optativa</mat-slide-toggle>
            </div>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Bloque</mat-label>
               <mat-icon matPrefix (click)="a_anti_bl.valueAsNumber=a_anti_bl.valueAsNumber-1" class="cursor-pointer">remove</mat-icon>
               <input matInput #a_anti_bl type="number" formControlName="bloque" class="!mx-auto !text-center">
               <mat-icon matSuffix (click)="a_anti_bl.valueAsNumber=a_anti_bl.valueAsNumber+1" class="cursor-pointer">add</mat-icon>
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Horas teóricas</mat-label>
               <mat-icon matPrefix (click)="a_anti_ht.valueAsNumber=a_anti_ht.valueAsNumber-1" class="cursor-pointer">remove</mat-icon>
               <input matInput #a_anti_ht type="number" formControlName="horas_teoricas" class="!mx-auto !text-center">
               <mat-icon matSuffix (click)="a_anti_ht.valueAsNumber=a_anti_ht.valueAsNumber+1" class="cursor-pointer">add</mat-icon>
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Horas prácticas</mat-label>
               <mat-icon matPrefix (click)="a_anti_hp.valueAsNumber=a_anti_hp.valueAsNumber-1" class="cursor-pointer">remove</mat-icon>
               <input matInput #a_anti_hp type="number" formControlName="horas_practicas" class="!mx-auto !text-center">
               <mat-icon matSuffix (click)="a_anti_hp.valueAsNumber=a_anti_hp.valueAsNumber+1" class="cursor-pointer">add</mat-icon>
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-span-6">
               <mat-label>Créditos</mat-label>
               <mat-icon matPrefix (click)="a_anti_cr.valueAsNumber=a_anti_cr.valueAsNumber-1" class="cursor-pointer">remove</mat-icon>
               <input matInput #a_anti_cr type="number" formControlName="creditos" class="!mx-auto !text-center">
               <mat-icon matSuffix (click)="a_anti_cr.valueAsNumber=a_anti_cr.valueAsNumber+1" class="cursor-pointer">add</mat-icon>
               <mat-error>Ingresa un valor válido</mat-error>
            </mat-form-field>
            <search-select class="w-full md:col-span-12 col-span-6" [rq]="true" [select]="sel['tbl_programa_academico_id']"
               [group]="grup['tbl_programa_academico_id']" [formCN]="'tbl_programa_academico_id'" [label]="'Programa académico'"
               (response)="recibiRespuesta($event, 'tbl_programa_academico_id')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_materias_id']"
               [group]="grup['tbl_materias_id']" [formCN]="'tbl_materias_id'" [label]="'Materias'"
               (response)="recibiRespuesta($event, 'tbl_materias_id')"></search-select>
            <search-select class="w-full col-span-6" [rq]="true" [select]="sel['tbl_departamento_id']"
               [group]="grup['tbl_departamento_id']" [formCN]="'tbl_departamento_id'" [label]="'Departamento'"
               (response)="recibiRespuesta($event, 'tbl_departamento_id')"></search-select>
         </form>
      </div>
   </div>
</div>
