
<div class="bg-gray-100 dark:bg-gradient-dark-gray">
   <!-- <mat-toolbar class="bg-transparent dark:bg-transparent"> -->
   <app-header [sidenav]="sidenav"></app-header>
   <!-- </mat-toolbar> -->
   <mat-sidenav-container class="pt-0 bg-transparent dark:bg-transparent !h-[calc(100%-4rem)]">
      <mat-sidenav #sidenav [ngClass]="sidenav.mode == 'over' ? '!bg-gray-100 dark:!bg-dark-blue-50' : ''"
         class="bg-slate-50 dark:bg-transparent sm:bg-transparent text-slate-500 dark:text-slate-300">
         <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content class="!flex !flex-col h-[calc(100%-92px)] relative">
      <app-breadcrumbs ></app-breadcrumbs>
      <div><!-- [breadcrumb]="location" -->
         <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>
